### Tuples

In [4]:
# declaration

tup = (10,20,30,40)

float_tup = (10.5,10.2)

print(type(float_tup), float_tup)

mixed_tup = (10,10.5 , "str" , True)

print(mixed_tup)

tup1 = (10,20)

print(type(tup1), tup1)

<class 'tuple'> (10.5, 10.2)
(10, 10.5, 'str', True)
<class 'tuple'> (10, 20)

In [7]:
# Acccess

tup = (10,20,30,40,10.5 , "str" , False)

print(tup[3])

# Slicing

new_tup = tup[0:3]
print(new_tup)

40
(10, 20, 30)

In [8]:
# tuple method

tup = (10,20,30,40,10,20,10)

print(tup.count(10))
print(tup.index(30))

3
2

### Set

In [11]:
A = { 1,2,3}
print(type(A) , A)

<class 'set'> {1, 2, 3}

In [12]:
B = []

print(type(B))

C = ()

print(type(C))

S = set()

print(type(S))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [13]:
S = { 1,2,3,4,1,2}

if(10 in S):
    print("3 is present")
else:
    print("not present")
sum = 0

for element in S:
    sum += element
print(sum)

not present
10

In [ ]:
S = (5,1,2,4,3)

S.add(10)      
S.add(0)

print(S)

S.pop()
S.pop()
print(S)
S.remove(5)

print(S)

AttributeError: 'tuple' object has no attribute 'add'

In [ ]:
a = {1,2,3}
b ={2,3,4}

print( a.union(b) )
print( a.intersection(b) )
print(a.isdisjoint(b))