### Tuples

In [4]:
# declaration

tup = (10,20,30,40)

float_tup = (10.5,10.2)

print(type(float_tup), float_tup)

mixed_tup = (10,10.5 , "str" , True)

print(mixed_tup)

tup1 = (10,20)

print(type(tup1), tup1)

<class 'tuple'> (10.5, 10.2)
(10, 10.5, 'str', True)
<class 'tuple'> (10, 20)

In [7]:
# Acccess

tup = (10,20,30,40,10.5 , "str" , False)

print(tup[3])

# Slicing

new_tup = tup[0:3]
print(new_tup)

40
(10, 20, 30)

In [8]:
# tuple method

tup = (10,20,30,40,10,20,10)

print(tup.count(10))
print(tup.index(30))

3
2

### Set

In [11]:
A = { 1,2,3}
print(type(A) , A)

<class 'set'> {1, 2, 3}

In [12]:
B = []

print(type(B))

C = ()

print(type(C))

S = set()

print(type(S))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [13]:
S = { 1,2,3,4,1,2}

if(10 in S):
    print("3 is present")
else:
    print("not present")
sum = 0

for element in S:
    sum += element
print(sum)

not present
10

In [ ]:
S = (5,1,2,4,3)

S.add(10)      
S.add(0)

print(S)

S.pop()
S.pop()
print(S)
S.remove(5)

print(S)

AttributeError: 'tuple' object has no attribute 'add'

In [18]:
a = {1,2,3}
b ={2,3,4}

print( a.union(b) )
print( a.intersection(b) )
print(a.isdisjoint(b))

{1, 2, 3, 4}
{2, 3}
False

In [7]:
# empty

dic = {}

print(type(dic))

dic = { "name" : "Phitron" , "age" : 20 , "address" : "Dhaka" ,  "numbers" : [123,456,789] }

print(type(dic) , dic)

<class 'dict'>
<class 'dict'> {'name': 'Phitron', 'age': 20, 'address': 'Dhaka', 'numbers': [123, 456, 789]}

In [8]:
# access
# dic_name[key]

print(dic["numbers"])

[123, 456, 789]

In [9]:
print(dic)

print(dic.get("math_marks"))
print(dic.get("math_marks", 0))

{'name': 'Phitron', 'age': 20, 'address': 'Dhaka', 'numbers': [123, 456, 789]}
None
0

In [13]:
dic = { "name" : "Phitron" , "age" : 20 , "address" : "Dhaka" ,  "numbers" : [123,456,789] }

print(dic)
dic["math_marks"] = 30
dic.update({"english_marks" : 40})
print(dic)

{'name': 'Phitron', 'age': 20, 'address': 'Dhaka', 'numbers': [123, 456, 789]}
{'name': 'Phitron', 'age': 20, 'address': 'Dhaka', 'numbers': [123, 456, 789], 'math_marks': 30, 'english_marks': 40}

In [14]:
dic_2=dic.copy()
print(dic_2)

{'name': 'Phitron', 'age': 20, 'address': 'Dhaka', 'numbers': [123, 456, 789], 'math_marks': 30, 'english_marks': 40}

In [17]:
# testing 

dic_3 = {"key" : {"name" : "Ashiqe"}}

# dic_3 = {(10,20,30) : "a"}

print(dic_3)

{'key': {'name': 'Ashiqe'}}

In [23]:
dic =  {'name': 'Ashiqe', 'age': 20, 'address': 'Dhaka', 'numbers': [123, 456, 789], 'math_marks': 30, 'english_marks': 40}

keys = dic.keys()
print(keys)

dic["math_numbers"] = 30
print(keys)

values = dic.values()
print(values)

items = dic.items()

dict_keys(['name', 'age', 'address', 'numbers', 'math_marks', 'english_marks'])
dict_keys(['name', 'age', 'address', 'numbers', 'math_marks', 'english_marks', 'math_numbers'])
dict_values(['Ashiqe', 20, 'Dhaka', [123, 456, 789], 30, 40, 30])

In [24]:
# iteration

for key,value in dic.items() :
    print(key,value)

name Ashiqe
age 20
address Dhaka
numbers [123, 456, 789]
math_marks 30
english_marks 40
math_numbers 30

In [30]:
# Dictionary Comprehension
squar = {x:x**2 for x in range(1,11)}
print(list(range(1,11)))

print(squar)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [34]:
Co_ordinates = [(10,10,5), (20,5,192) , (101,102)]
Location = [ "dhaka", "chittagong" , "sylhet"]
exact_location = {co_or : loc for co_or, loc in zip(Co_ordinates, Location)}

print(exact_location)

{(10, 10, 5): 'dhaka', (20, 5, 192): 'chittagong', (101, 102): 'sylhet'}